.containerHeader {
  padding: 1rem;
  background: #333;
}

.header {
  margin: 0 auto;
  max-width: 960px;
}

.header ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header ul li {
  margin-right: 1rem;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

.active,
.link:hover {
  color: #ccc;
}